@using Microsoft.AspNetCore.Identity;
@using OutFit.CoreBusiness;
@using System.Web

@inject WebsiteAuthenticator WebsiteAuthenticator

<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><span class="icon_search search-switch"></span></li>
        <li>
            <a href="#">
                <span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a>
        </li>
    </ul>
    <div class="offcanvas__logo">
        <a href="index-2.html"><img src="img/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        <a href="#">Login</a>
        <a href="#">Register</a>
    </div>
</div>
 <AuthorizeView>
     <NotAuthorized>
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="index-2.html"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><NavLink href="/">Home</NavLink></li>
                        <li><NavLink href="/cart">Cart</NavLink></li>
                        <li><a href="shop.html">Shop</a></li>
                        
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            
            <div class="col-lg-3">
                <div class="header__right">
                    
                    <div class="header__right__auth">
                        <a href="">Login</a>
                        <NavLink href="/account">Register</NavLink>
                    </div>
                    <ul class="header__right__widget">
                        <li><span class="icon_search search-switch"></span></li>
                        @*<li>
                            <a href="#">
                                <span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            </a>
                        </li>*@
                        <li>
                            <a href="#">
                                <span class="icon_cart"> </span>
                                <div class="tip">2</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
    </NotAuthorized>
    <Authorized>
        <header class="header"> 
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-2">
                        <div class="header__logo">
                            <a href="index-2.html"><img src="img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <nav class="header__menu">
                            <ul>
                                <li class="active"><NavLink href="/">Home</NavLink></li>
                                <li><NavLink href="/addproduct">Add Shoe</NavLink></li>
                                <li><NavLink href="/cart">Cart</NavLink></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="col-lg-3">
                        <div class="header__right">

                            <div class="header__right__auth">
                                <a href="" @onclick="TryLogout" >Logout</a>
                            </div>
                            <ul class="header__right__widget">
                                <li><span class="icon_search search-switch"></span></li>
                                @*<li>
                                <a href="#">
                                <span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                                </a>
                                </li>*@
                                <li>
                                    <a href="#">
                                        <span class="icon_cart"> </span>
                                        <div class="tip">2</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="canvas__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </header>
    </Authorized>
</AuthorizeView>

@code{
    private async Task TryLogout()
    {
        await WebsiteAuthenticator.LogoutAsync();
    }
}